
.navbar a.nav-link {
    margin-left: 35px;
}

.navbar {
    width: 100%;
    z-index: 1000; 
}

.navbar-custom {
    background-color: #fef3f6; 
}

.container {
    position: relative;
    place-items: center;
}

.row {
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

main {
    background-color: rgb(250, 201, 210);
}

footer {
    background-color: black;
    color: white;
}

h1, h3, p {
    margin: 0;
}

.main-btn:hover {
    background-color: black;
    color: white;
    border: 0.1875rem solid white;
}

.sec-btn:hover {
    background-color: cornsilk;
    color: black;
    border: 0.1875rem solid black;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


.a {
    text-decoration: none;
}

@media (max-width: 768px) {
    strong {
        font-size: 3rem;
    }
}
